<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<!--
   sqlmap-config.plist
   SQLMapper

   Created by Steve Kim on 5/25/16.
   Copyright (c) 2016 Steve Kim. All rights reserved.
-->
<plist version="1.0">
    <array>
        <dict>
            <key>dbName</key>
            <string>ex1</string>
            <key>dbFilePath</key>
            <string>ex1.db</string>
            <key>sqlmaps</key>
            <dict>
                <key>ex1-sqlmap1</key>
                <string>ex1-sqlmap1</string>
                
                <key>ex1-sqlmap2</key>
                <string>ex1-sqlmap2</string>
            </dict>
        </dict>
        <dict>
            <key>dbName</key>
            <string>ex2</string>
            <key>dbFilePath</key>
            <string>ex2.db</string>
            <key>sqlmaps</key>
            <dict>
                <key>ex2-sqlmap1</key>
                <string>ex2-sqlmap1</string>
                
                <key>ex2-sqlmap2</key>
                <string>ex2-sqlmap2</string>
            </dict>
        </dict>
    </array>
</plist>
